<!DOCTYPE html>
<html lang="en" data-ng-app="minimumApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Minimum Number</title>

    <!-- Bootstrap Core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/main-style.css" rel="stylesheet">

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Minimum Number</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <!-- <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li> -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container page-container" data-ng-controller="MinimumController">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Minimum Number Calculator</h1>

                <div data-ng-cloak class="display-error" data-ng-show="errorToggle">
                    {{errorToggle}}
                </div>

                <form class="form" id="minimumCoin" data-ng-submit="initialize()">
                    <div class="form-group">
                        <label for="amount">Enter the number of pennies.</label><br>
                        <input type="text" id="amount" placeholder="Eg. 92p, £2.12" ng-model="amount" data-ng-change="textChanged()"><br>
                        <small>* Press 'Enter' key to calculate the minimum number</small>
                    </div>
                </form>
               
                <table class="display-result" data-ng-hide="resultTogle">
                    <thead>
                        <tr>
                            <th title="Sterling Coin">Sterling Coin</th>
                            <th title="Amount">Amount</th>
                        </tr>
                    </thead>
                    <tbody data-ng-cloak>
                        <tr data-ng-repeat="c in totalAmount">
                            <td>{{c.coin}}</td>
                            <td>{{c.amount}}</td>
                        </tr>
                    </tbody>
                </table>

                <br>
                <br>
                <br>
                <ul class="list-unstyled">
                    <li>Minimum Number v1.0.0</li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src="assets/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- AngularJS library -->
    <script src="assets/js/angular.min.js"></script>

    <script src="app/app.js"></script>
    <script src="app/services/validation.js"></script>
    <script src="app/services/parsing-input.js"></script>
    <script src="app/services/calculation.js"></script>

    <script src="app/controllers/MinimumController.js"></script>

</body>

</html>
